

<!-- <button  class="btn btn-primary"  (click)="getData()">GET</button> -->



  <!-- servive used api view -->
   
  <div *ngFor="let item of result">
      <p>{{item.id}}</p>

  </div>




<router-outlet></router-outlet>
